@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, thames: dark --default
};

@theme {
    --font-bai: 'Bai Jamjuree', sans-serif;
    --font-ibm: 'IBM Plex Sans Thai', sans-serif;
}

body {
    font-family: 'IBM Plex Sans Thai', sans-serif; /* ตั้ง default font */
}